:root {
  --color-0: #264653;
  --color-1: #ffffff;
  --color-2: #e0e0e0;
  --color-3: #000000;
  --color-4: #e76f51;
  --color-5: #0a0826;
  --color-8: #e77c40;
  --color-9: #23a6f0;
  --color-10: #252b42;
  --color-11: #0d0925;
  --color-12: #383838;
  --color-13: #7e848c;
  --color-14: #6c6c6c;
}

/* Fonts */

.section-title-font {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.text-article-font {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

/* header section starts */

.btn-custom {
  color: var(--color-1) !important ;
  background-color: #e76f51 !important;
  border-color: #e76f51 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
/* header section ends */

/* color */

.star-rating {
  color: var(--color-8);
}

/* utilities */
.filter-gray {
  filter: grayscale(100%);
}
