.bg-custom{
    background-color: #264653;
}
.btn-custom{
    color: #fff;
    background-color: #e76f51 !important;
    border-color: #e76f51 !important;
}

.filter-gray{
    filter: grayscale(100%);
}